In [1]:
import pandas as pd

In [2]:
# Load the dataset
file_path = r"C:\Users\const\OneDrive\Desktop\MyProjects\Samaritan\kaggle\hosp_staffing\hosp.csv"
data = pd.read_csv(file_path, delimiter=';')

In [3]:
# Clean column names
data.columns = (
    data.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
    .str.replace(r'[^\w]', '', regex=True)
)

In [4]:
# Convert date columns to datetime
data['begin_date'] = pd.to_datetime(data['begin_date'], errors='coerce')
data['end_date'] = pd.to_datetime(data['end_date'], errors='coerce')

In [5]:
# Remove duplicates
data = data.drop_duplicates()

In [6]:
data.head()

,year,facility_number,facility_name,begin_date,end_date,county_name,type_of_control,hours_type,productive_hours,productive_hours_per_adjusted_patient_day
0,2009,106010735.0,ALAMEDA HOSPITAL,2008-07-01,2009-06-30,Alameda,District,Management & Supervision,63558,1.17
1,2009,106010735.0,ALAMEDA HOSPITAL,2008-07-01,2009-06-30,Alameda,District,Technician & Specialist,163706,3.02
2,2009,106010735.0,ALAMEDA HOSPITAL,2008-07-01,2009-06-30,Alameda,District,Registered Nurse,180034,3.32
3,2009,106010735.0,ALAMEDA HOSPITAL,2008-07-01,2009-06-30,Alameda,District,Licensed Vocational Nurse,22323,0.41
4,2009,106010735.0,ALAMEDA HOSPITAL,2008-07-01,2009-06-30,Alameda,District,Aides & Orderlies,97205,1.79

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37604 entries, 0 to 37603
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   year                                       37604 non-null  int64
 1   facility_number                            37519 non-null  float64
 2   facility_name                              37519 non-null  object
 3   begin_date                                 37519 non-null  datetime64[ns]
 4   end_date                                   37519 non-null  datetime64[ns]
 5   county_name                                37604 non-null  object
 6   type_of_control                            37519 non-null  object
 7   hours_type                                 37604 non-null  object
 8   productive_hours                           37604 non-null  int64
 9   productive_hours_per_adjusted_patient_day  37417 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(2), object(4)
memory usage: 2.9+ MB

In [8]:
data.describe()

,year,facility_number,begin_date,end_date,productive_hours,productive_hours_per_adjusted_patient_day
count,37604.000000,3.751900e+04,37519,37519,3.760400e+04,37417.000000
mean,2010.987794,1.062795e+08,2010-10-03 10:20:29.904848384,2011-09-30 08:59:35.532397056,4.209184e+05,3.138249
min,2009.000000,1.060107e+08,2008-01-01 00:00:00,2009-01-15 00:00:00,0.000000e+00,0.000000
25%,2010.000000,1.061903e+08,2009-07-01 00:00:00,2010-06-30 00:00:00,7.827500e+03,0.240000
50%,2011.000000,1.063011e+08,2010-10-01 00:00:00,2011-09-30 00:00:00,6.313750e+04,1.750000
75%,2012.000000,1.063713e+08,2012-01-01 00:00:00,2012-12-31 00:00:00,2.220848e+05,4.420000
max,2013.000000,1.065810e+08,2013-10-14 00:00:00,2013-12-31 00:00:00,2.534190e+08,157.770000
std,1.412740,1.373940e+05,NaN,NaN,5.593442e+06,4.334235

In [9]:
# Check for missing values in the dataset
missing_values_before = data.isnull().sum()

# Display the missing values for each column
missing_values_before

year                                           0
facility_number                               85
facility_name                                 85
begin_date                                    85
end_date                                      85
county_name                                    0
type_of_control                               85
hours_type                                     0
productive_hours                               0
productive_hours_per_adjusted_patient_day    187
dtype: int64

In [10]:
# Filter rows with missing values to inspect them
missing_rows = data[data.isnull().any(axis=1)]

# Display the first few rows with missing values
missing_rows.head()

,year,facility_number,facility_name,begin_date,end_date,county_name,type_of_control,hours_type,productive_hours,productive_hours_per_adjusted_patient_day
211,2010,NaN,NaN,NaT,NaT,Statewide,NaN,Environmental & Food Services,48811411,1.62
273,2010,NaN,NaN,NaT,NaT,Statewide,NaN,Other,79203513,2.62
291,2009,106015000.0,KAISER FOUNDATION NORTHERN REGION,2009-01-01,2009-12-31,Alameda,Non-Profit,Management & Supervision,0,NaN
292,2009,106015000.0,KAISER FOUNDATION NORTHERN REGION,2009-01-01,2009-12-31,Alameda,Non-Profit,Technician & Specialist,0,NaN
293,2009,106015000.0,KAISER FOUNDATION NORTHERN REGION,2009-01-01,2009-12-31,Alameda,Non-Profit,Registered Nurse,0,NaN

1. Facility Productivity Dashboard

In [11]:
# Drop rows with missing facility_name or productive_hours
data_productivity = data.dropna(subset=['facility_name', 'productive_hours']).copy()

# Fill missing values for productive_hours_per_adjusted_patient_day with 0
data_productivity.loc[:, 'productive_hours_per_adjusted_patient_day'] = data_productivity['productive_hours_per_adjusted_patient_day'].fillna(0)

2. Staffing Composition by Role

In [12]:
# Drop rows with missing hours_type or productive_hours
data_staffing = data.dropna(subset=['hours_type', 'productive_hours'])

# Retain county_name and facility_name NaNs if grouping is not critical
# No additional handling needed for non-numeric fields here.

3. Yearly Trend Analysis

In [13]:
# Drop rows with missing year or productive_hours
data_trend = data.dropna(subset=['year', 'productive_hours'])

# Fill NaNs in productive_hours_per_adjusted_patient_day with 0
data_trend['productive_hours_per_adjusted_patient_day'] = data_trend['productive_hours_per_adjusted_patient_day'].fillna(0)

4. Operational Risk Dashboard

In [14]:
# Retain rows with missing productive_hours_per_adjusted_patient_day for analysis
data_risk = data.copy()

# Add a flag column to highlight rows with missing values in critical columns
data_risk['is_risk'] = data_risk['productive_hours_per_adjusted_patient_day'].isnull()

5. Facility Comparison Report

In [15]:
# Drop rows with missing facility_name, productive_hours, or begin_date
data_comparison = data.dropna(subset=['facility_name', 'productive_hours', 'begin_date']).copy()

# Fill missing values for productive_hours_per_adjusted_patient_day with 0
data_comparison['productive_hours_per_adjusted_patient_day'] = data_comparison['productive_hours_per_adjusted_patient_day'].fillna(0)

In [16]:
# Redefine data_comparison in case it's undefined
data_comparison = data.dropna(subset=['facility_name', 'productive_hours', 'begin_date']).copy()
data_comparison['productive_hours_per_adjusted_patient_day'] = data_comparison['productive_hours_per_adjusted_patient_day'].fillna(0)

# Save the cleaned DataFrame to a new CSV file
output_file_path = r"C:\Users\const\OneDrive\Desktop\MyProjects\Samaritan\kaggle\hosp_staffing\hosp_clean.csv"
data_comparison.to_csv(output_file_path, index=False)

print(f"Cleaned file saved to: {output_file_path}")

Cleaned file saved to: C:\Users\const\OneDrive\Desktop\MyProjects\Samaritan\kaggle\hosp_staffing\hosp_clean.csv

SQL PREPARATION

In [19]:
data_comparison['id'] = range(1, len(data_comparison) + 1)

In [17]:
print(data_comparison.dtypes)

year                                                  int64
facility_number                                     float64
facility_name                                        object
begin_date                                   datetime64[ns]
end_date                                     datetime64[ns]
county_name                                          object
type_of_control                                      object
hours_type                                           object
productive_hours                                      int64
productive_hours_per_adjusted_patient_day           float64
dtype: object

In [20]:
# Ensure correct data types and clean for SQL import
# Assuming 'data_comparison' is your cleaned DataFrame.

# Convert facility_number to an integer type if applicable (handles NaN as NULL-friendly Int64)
# This avoids unnecessary decimals in SQL.
data_comparison['facility_number'] = data_comparison['facility_number'].astype('Int64')

In [21]:
# Replace special characters in facility_name to ensure SQL compatibility
# Replacing single quotes with double single quotes to prevent SQL errors.
data_comparison['facility_name'] = data_comparison['facility_name'].str.replace("'", "''")

In [22]:
# Format date columns for SQL-friendly format (YYYY-MM-DD)
# Ensures that the dates are stored in a readable and consistent SQL format.
data_comparison['begin_date'] = data_comparison['begin_date'].dt.strftime('%Y-%m-%d')
data_comparison['end_date'] = data_comparison['end_date'].dt.strftime('%Y-%m-%d')

In [23]:
# Round float values for precision consistency in SQL
# Limiting to 2 decimal places for clarity and storage efficiency.
data_comparison['productive_hours_per_adjusted_patient_day'] = (
    data_comparison['productive_hours_per_adjusted_patient_day'].round(2)
)

In [24]:
# Replace NaN values with None (to map to SQL NULL values)
# This ensures missing data is properly interpreted as NULL in SQL.
data_comparison = data_comparison.where(pd.notnull(data_comparison), None)

In [26]:
# Export cleaned data to a CSV file for SQL import
# This CSV can then be uploaded to a database directly or through an ETL tool.
csv_output_path = 'hosp_clean_sql.csv'
data_comparison.to_csv(csv_output_path, index=False)